# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
backend/target/
*.class
*.jar

# dependencies
node_modules
.vite

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# environment
.env
.env.*
!.env.example

# System Files
.DS_Store
Thumbs.db

# frontend build
frontend/dist/
